:root {
  --bg-color: white;
  --font-color: #650cbb;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: 300ms ease all;
  font-family: "Heebo", sans-serif;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--font-color);
}

#root,
.fullVwidth {
  width: 100vw;
}

.fullPwidth {
  width: 100%;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir-h {
  flex-direction: row;
}

.flex-dir-v {
  flex-direction: column;
}

.flex-center-h {
  justify-content: center;
}

.flex-between-h {
  justify-content: space-between;
}

.flex-evenly-h {
  justify-content: space-evenly;
}

.flex-around-h {
  justify-content: space-around;
}

.flex-end-h {
  justify-content: flex-end;
}

.flex-center-v {
  align-items: center;
}

.flex-end-v {
  align-items: flex-end;
}

.flex-stretch-v {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

button {
  /* reset */
  padding: 0;
  -webkit-appearance: none;
  -webkit-writing-mode: unset !important;
  color: unset;
  background-color: unset;
  cursor: pointer;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;

  /* custom */
  padding: 8px 10px 6px;
  border-radius: 100px;
  transition: 200ms ease all;
  font-weight: 700;
}

button:hover {
  box-shadow: 0 1px 4px #00000033;
  border-radius: 100px;
}

input {
  /* reset */
  -webkit-writing-mode: unset !important;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  background-color: unset;
  cursor: text;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  border-radius: unset;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;

  /* custom */
  position: relative;
  height: 20px;
  width: 100%;
  border-bottom: 1px var(--font-color) solid;
  margin: 5px 0;
  transform-origin: left;
  transform: scale(1);
  color: var(--font-color);
  background-color: var(--bg-color);
  font-weight: 700;
  transition: 100ms ease all;
}
.input-label-container {
  position: relative;
  height: 40px;
  width: 200px;
  margin: 12px 0;
}

label {
  transition: 200ms ease all;
  position: absolute;
  left: 0;
}

input:focus,
input:hover {
  background-color: #f3f3f3;
  color: #333;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  margin-top: -20px;
  transform-origin: left;
  transform: scale(0.7);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

section {
  padding: 1vw;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

*:focus {
  outline: 0;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
